.wrapper {
  background-color: var(--primary);
  box-shadow: 0px 22px 52px rgba(143, 144, 166, 0.12);
  padding: 4rem 4.5rem;
  color: #ffffff;

  .title {
    text-align: start;
    margin-bottom: 2rem;
    text-transform: uppercase;
    height: 115px
  }

  .subTitle {
    text-align: start;
  }

  .buttonArea {
    padding: 1rem 0;
    width: 100%;

    button {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    padding: 2.5rem;
  }
}
