.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  color: var(--black);
  margin: 0;
}

.upperCase {
  text-transform: uppercase;
}

.small {
  font-weight: 400;
  font-size: 1.5rem;
}

.medium {
  font-weight: 700;
  font-size: 2rem;
}
