.footer {
  background-color: #E7ECF9;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #d7d7d7;
  align-items: flex-end;

  .leftArea {
    width: 50%;
    height: 11.25rem;
    padding-left: 22rem;
    gap: 3rem;
    display: flex;
    align-items: flex-start;

    span {
      color: #ffffff;

      .textOpacity {
        opacity: 0.5;
      }
    }
  }

  .rightArea {
    width: 45%;
    max-width: 35%;
    display: flex;
    height: 240px;
    flex-direction: column;
    justify-content: space-between;
    color: #34447C;
    // padding-left: 1rem;
    padding: 1rem 0 1rem 1rem;

    .lineContent {
      display: flex;
      flex-direction: column;
    }

    .label {
      margin: 0;
      font-size: 22px;
      font-weight: 600;
    }
  }

  .button {
    background: #ffffff;
    width: 10rem;
    padding: 0.5rem 1rem;
    color: #1d1929;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1080px) {
  .footer {
    display: flex;

    .leftArea {
      width: 50%;
      gap: 1rem;
      padding-left: 3rem;
    }

    .rightArea {
      width: 50%;
      max-width: 45%;
      gap: 1rem;
      height: 270px;
    }
  }
}

@media only screen and (max-width: 990px) {
  .footer {
    gap: 1rem;
    padding: 5.25rem 2rem;

    .leftArea {
      width: 100%;
      padding-left: 0;
      padding-bottom: 0;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .rightArea {
      width: 100%;
      max-width: 100%;
      padding-top: 2rem;
      padding-left: 0;
    }

    .button {
      margin: auto;
    }
  }
}

@media only screen and (max-width: 920px) {
  .footer {
    gap: 3rem;
    flex-direction: column-reverse;
    padding: 4rem 3rem;
    justify-content: center;
    align-items: center;

    .leftArea {
      padding: 0;
      gap: 2rem;
      height: auto;
      padding-bottom: 2rem;

      .lineContent {
        width: 70%;
      }
    }

    .rightArea {
      min-height: unset;
    }
  }
}

@media only screen and (max-width: 625px) {
  .footer {
    padding: 4rem 1.5rem;

    .leftArea {
      flex-direction: column;

      .lineLogo {
        width: 55%;
        margin-left: 60px;
      }

      .lineContent {
        margin-left: 60px;
      }
    }
  }
}
